name: Prefect Deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy-prefect:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: python -m pip install --upgrade pip && pip install -r requirements.txt
      
      - name: Debug PREFECT_API_URL
        env:
          PREFECT_API_URL: ${{ secrets.PREFECT_API_URL }}
        run: echo "PREFECT_API_URL is $PREFECT_API_URL"

      - name: Prefect deploy all
        env:
          PREFECT_API_URL: ${{ secrets.PREFECT_API_URL }}
        run: prefect deploy --all
